build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/3.18.2/CMakeCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.18.2/CMakeSystem.cmake
build/CMakeFiles/3.18.2/VCTargetsPath.txt
build/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.18.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.18.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.18.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/IncludeSpdlog-build/spdlog-download/CMakeLists.txt
build/IncludeSpdlog-download/ALL_BUILD.vcxproj
build/IncludeSpdlog-download/ALL_BUILD.vcxproj.filters
build/IncludeSpdlog-download/cmake_install.cmake
build/IncludeSpdlog-download/CMakeCache.txt
build/IncludeSpdlog-download/CMakeLists.txt
build/IncludeSpdlog-download/IncludeSpdlog-download.sln
build/IncludeSpdlog-download/IncludeSpdlog.vcxproj
build/IncludeSpdlog-download/IncludeSpdlog.vcxproj.filters
build/IncludeSpdlog-download/ZERO_CHECK.vcxproj
build/IncludeSpdlog-download/ZERO_CHECK.vcxproj.filters
build/IncludeSpdlog-download/CMakeFiles/cmake.check_cache
build/IncludeSpdlog-download/CMakeFiles/CMakeOutput.log
build/IncludeSpdlog-download/CMakeFiles/generate.stamp
build/IncludeSpdlog-download/CMakeFiles/generate.stamp.depend
build/IncludeSpdlog-download/CMakeFiles/generate.stamp.list
build/IncludeSpdlog-download/CMakeFiles/TargetDirectories.txt
build/IncludeSpdlog-download/CMakeFiles/0d0223ebdf064605d40fdf7bf7a3a292/IncludeSpdlog-complete.rule
build/IncludeSpdlog-download/CMakeFiles/3.18.2/CMakeSystem.cmake
build/IncludeSpdlog-download/CMakeFiles/3.18.2/VCTargetsPath.txt
build/IncludeSpdlog-download/CMakeFiles/3.18.2/VCTargetsPath.vcxproj
build/IncludeSpdlog-download/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.recipe
build/IncludeSpdlog-download/CMakeFiles/3.18.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-build.rule
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-configure.rule
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-download.rule
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-install.rule
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-mkdir.rule
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-patch.rule
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-test.rule
build/IncludeSpdlog-download/CMakeFiles/6c0e467ce28905afe33a265054cdf4fe/IncludeSpdlog-update.rule
build/IncludeSpdlog-download/CMakeFiles/b1f3e0fb477fc2f94a83debf4d157cc4/generate.stamp.rule
build/IncludeSpdlog-download/CMakeFiles/b1f3e0fb477fc2f94a83debf4d157cc4/IncludeSpdlog.rule
build/IncludeSpdlog-download/CMakeFiles/Debug/IncludeSpdlog-complete
build/IncludeSpdlog-download/CMakeFiles/IncludeSpdlog.dir/Labels.json
build/IncludeSpdlog-download/CMakeFiles/IncludeSpdlog.dir/Labels.txt
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/IncludeSpdlog-gitclone-lastrun.txt
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/IncludeSpdlog-gitinfo.txt
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-build
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-configure
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-done
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-download
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-install
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-mkdir
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-patch
build/IncludeSpdlog-download/IncludeSpdlog-prefix/src/IncludeSpdlog-stamp/Debug/IncludeSpdlog-test
build/IncludeSpdlog-download/IncludeSpdlog-prefix/tmp/IncludeSpdlog-cfgcmd.txt
build/IncludeSpdlog-download/IncludeSpdlog-prefix/tmp/IncludeSpdlog-cfgcmd.txt.in
build/IncludeSpdlog-download/IncludeSpdlog-prefix/tmp/IncludeSpdlog-gitclone.cmake
build/IncludeSpdlog-download/IncludeSpdlog-prefix/tmp/IncludeSpdlog-gitupdate.cmake
build/IncludeSpdlog-download/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/IncludeSpdlog-download/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/IncludeSpdlog-download/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/IncludeSpdlog-download/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/IncludeSpdlog-download/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/IncludeSpdlog-download/x64/Debug/IncludeSpdlog/IncludeSpdlog.recipe
build/IncludeSpdlog-download/x64/Debug/IncludeSpdlog/IncludeSpdlog.tlog/CustomBuild.command.1.tlog
build/IncludeSpdlog-download/x64/Debug/IncludeSpdlog/IncludeSpdlog.tlog/CustomBuild.read.1.tlog
build/IncludeSpdlog-download/x64/Debug/IncludeSpdlog/IncludeSpdlog.tlog/CustomBuild.write.1.tlog
build/IncludeSpdlog-download/x64/Debug/IncludeSpdlog/IncludeSpdlog.tlog/IncludeSpdlog.lastbuildstate
build/IncludeSpdlog-download/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/IncludeSpdlog-download/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/IncludeSpdlog-download/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/IncludeSpdlog-download/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/IncludeSpdlog-download/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
